<div class="full expert_exo hide">
	<div class="vertical-container">
		<div class="expert_exo-container">
			<div class="left">
				<h4>Ecrivez votre propre code</h4>
				<div class="keyboard_container">
					<div class="buttons_container">
						<div class="button blue button_documentation">
							<span class="documentation_text" data-tag="hard_exo_documentation_btn">documentation</span>
							<span class="documentation_close_text close_text" data-tag="hard_exo_close_btn">fermer</span>
						</div>
						
						<div class="button_2_lines red button_redraw" data-tag="hard_exo_redraw_btn">
							Recommencer<br>mon dessin
						</div>
						<div class="button_2_lines red button_update" data-tag="hard_exo_update_btn">
							Mettre à jour<br>mon dessin
						</div>
					</div>
				</div>
				
				
				<div class="separator"></div>
			</div>
			<div class="right">
				<div class="code">
					<textarea class="keyboard code-content" name="areaexpert" id="areaexpert"></textarea>
					
				</div>
				<div class="block-error-syntax hide"><p>Erreur de syntaxe</p></div>
				<div class="documentation">
					<!-- build:include ../doc.html -->
					<!-- /build -->
					<!-- build:include ../docEN.html -->
					<!-- /build -->
					<!-- build:include ../docIT.html -->
					<!-- /build -->
				</div>
				
			</div>
		</div>
		<div class="expert_buttons">
			<div class="expert_btn button_2_lines beige go_to_end" data-tag="expert_exo_finish">j'ai fini mon dessin</div>
		</div>
	</div>
	
	
	
</div>