<div class="easy_home full">
	<h2 data-tag="easy_home_background">facile</h2>
	<div class="easy_home-container">
		<h3 id="easyH3" data-tag="easy_home_instructions">
			Bienvenue dans le mode facile.<br>Pour commencer à coder, choisissez un dessin
		</h3>
		<div class="easy_home-buttons">
			<div class="draw_btn disable animate" data-exo="1"><img src="./img/draw_easy_1.png" alt="exo1"></div>
			<div class="draw_btn disable animate" data-exo="2"><img src="./img/draw_easy_2.png" alt="exo2"></div>
			<div class="draw_btn disable animate" data-exo="3"><img src="./img/draw_easy_3.png" alt="exo3"></div>
			<div class="draw_btn disable animate" data-exo="4"><img src="./img/draw_easy_4.png" alt="exo4"></div>
		</div>
	</div>
	
</div>