<div class="tuto7 hide">
	
	<div class="center content">
		<h2 data-tag="tuto7_title">5. Qu'est ce que la récursion ?</h2>
		<p data-tag="tuto7_subtitle">En informatique, la récursion est un code qui s'appelle lui même.</p>
		<div class="code">
			<pre id="pre-code"><code class="code-content"></code></pre>
		</div>

		<div class="explication" data-tag="tuto7_explication">
			Dans l'exemple ci-dessus, dans la fonction MaForme, on rappelle cette même fonction.<br>
			Cette astuce permet de dessiner des formes complexes. <br>
			Ici, on dessine des carrés de plus en plus petits et qui pivotent sur eux-mêmes par rapport au carré précédent.<br>
			Afin qu'ils soient tous visibles, on les rend transparents avec le paramètre alpha « a ».
		</div>
	</div>

	<div class="button understood center" data-tag="tuto7_btn">j'ai compris</div>

</div>