<div class="tuto4 hide">
	
	<div class="center content">
		<h2 data-tag="tuto4_title">2. dessiner plusieurs formes</h2>
		<p data-tag="tuto4_instruction">Ajoutez un triangle</p>
		<div class="code">
			<pre id="pre-code"><code class="code-content"></code></pre>
		</div>

		<div class="explication" data-tag="tuto4_explication">
			Les formes se définissent les unes par rapport aux autres. <br>
			Ainsi, pour dessiner un cercle et un triangle décalés l'un par rapport à l'autre,<br>
			les paramètres « x », « y » et « size » prennent des valeurs<br>
			qui définissent l'abscisse, l'ordonnée et la taille du triangle<br>
			par rapport au cercle qui est dessiné en premier.
		</div>
		
	</div>
	<div class="button understood center" data-tag="tuto4_btn">j'ai compris</div>

</div>