<div class="hard_home full">
	<h2 data-tag="hard_home_background">facile</h2>
	<div class="hard_home-container">
		<h3 data-tag="hard_home_instructions">
			Bienvenue dans le mode difficile.<br>Pour commencer à coder, choisissez un motif qui vous servira de base
		</h3>
		<div class="hard_home-buttons">
			<div class="draw_btn disable animate" data-exo="5"><img src="./img/draw_hard_5.png" alt="exo1"></div>
			<div class="draw_btn disable animate" data-exo="6"><img src="./img/draw_hard_6.png" alt="exo2"></div>
			<div class="draw_btn disable animate" data-exo="7"><img src="./img/draw_hard_7.png" alt="exo3"></div>
		</div>
	</div>
	
</div>