<div class="full hard_exo hide">
	<div class="vertical-container">
		<div class="hard_exo-container">
			<div class="left">
				<div class="img-container">
					<img src="./img/draw_hard_5.png" alt="">
				</div>
				<div class="keyboard_container">
					<div class="buttons_container">
						<div class="button blue button_documentation">
							<span class="documentation_text" data-tag="hard_exo_documentation_btn">documentation</span>
							<span class="documentation_close_text close_text" data-tag="hard_exo_close_btn">fermer</span>
						</div>
						<div class="button blue button_explication">
							<span class="explications_text" data-tag="hard_exo_explication_btn">explications</span>
							<span class="explications_close_text close_text" data-tag="hard_exo_close_btn">fermer</span>
						</div>
						<div class="button_2_lines red button_redraw" data-tag="hard_exo_redraw_btn">
							Recommencer<br>mon dessin
						</div>
						<div class="button_2_lines red button_update" data-tag="hard_exo_update_btn">
							Mettre à jour<br>mon dessin
						</div>
					</div>
				</div>
				
				
				<div class="separator"></div>
			</div>
			<div class="right">
				<div class="code">
					<textarea class="keyboard code-content" name="areaHard" id="areaHard"></textarea>
					
				</div>
				<div class="block-error-syntax hide"><p>Erreur de syntaxe</p></div>
				<p class="instructionCode" data-tag="hard_exo_instruction_code">Touchez le code pour le modifier</p>
				<div class="explication">
					<div class="explication-container">
						<h2 class="exo_explication exo_explication5" data-tag="hard_exo_explication5_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication5" data-tag="hard_exo_explication5_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin
						</p>
						<h2 class="exo_explication exo_explication6" data-tag="hard_exo_explication6_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication6" data-tag="hard_exo_explication6_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin<br>
						</p>
						<h2 class="exo_explication exo_explication7" data-tag="hard_exo_explication7_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication7" data-tag="hard_exo_explication7_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin<br>
						</p>
						
					</div>
				</div>
				<div class="documentation"> 
					<!-- build:include ../doc.html -->
					<!-- /build -->
					<!-- build:include ../docEN.html -->
					<!-- /build -->
					<!-- build:include ../docIT.html -->
					<!-- /build -->
				</div>	
			</div>
		</div>
		<div class="hard_buttons">
			<div class="hard_btn button_2_lines beige hard_other" data-tag="hard_btn_other">essayer<br>un autre dessin</div>
			<div class="hard_btn button_2_lines beige go_to_expert" data-tag="hard_btn_finish">j'ai fini mon dessin<br>passer au mode expert</div>
		</div>
	</div>
	
	
	
</div>