<div class="credits full hide">
	<div class="pattern-white"></div>
	<div class="left">
		<h2 data-tag="credits_museo_title">muséographie</h2>
		<p data-tag="credits_museo_content">
			Vincent Blech, commissaire de l'exposition <br>
			Stéphane Fay, contenus scientifiques
		</p>
		<h2 data-tag="credits_science_title">Conseiller scientifique</h2>
		<p data-tag="credits_science_content">
			Laurent Viennot, Inria
		</p>
		<h2 data-tag="credits_prod_title">Conception et réalisation</h2>
		<p data-tag="credits_prod_content">
			Conception, graphisme: Fleur de papier <br>
			Développement: Fleur de papier + Ben & Lou <br>
			Charte graphique: Villar + Vera <br>
			Traduction: Alpha
		</p>
	</div>
	<div class="right">
		<h2 data-tag="credits_thanks_title">Remerciements</h2>
		<p data-tag="credits_thanks_content">
			La communauté de Context Free Art <br><br>
			Avec le soutien des donateurs de la campagne de financement participation
		</p>
		<div class="logo-credits">
			<img src="./img/logoPalais.png" alt="Palais de la découverte - un lieu universcience">
			<p>© EPPDCSI 2017</p>
		</div>
	</div>
	<div class="close-btn">
    	<img src="./img/close.svg" alt="">
    </div>
</div>