<div class="easy full hide">
	<div class="pattern"></div>
	

	<div class="easy_home full">
	<h2 data-tag="easy_home_background">facile</h2>
	<div class="easy_home-container">
		<h3 id="easyH3" data-tag="easy_home_instructions">
			Bienvenue dans le mode facile.<br>Pour commencer à coder, choisissez un dessin
		</h3>
		<div class="easy_home-buttons">
			<div class="draw_btn disable animate" data-exo="1"><img src="./img/draw_easy_1.png" alt="exo1"></div>
			<div class="draw_btn disable animate" data-exo="2"><img src="./img/draw_easy_2.png" alt="exo2"></div>
			<div class="draw_btn disable animate" data-exo="3"><img src="./img/draw_easy_3.png" alt="exo3"></div>
			<div class="draw_btn disable animate" data-exo="4"><img src="./img/draw_easy_4.png" alt="exo4"></div>
		</div>
	</div>
	
</div>
	<div class="full easy_exo hide">
	<div class="vertical-container">
		<div class="easy_exo-container">
			<div class="left">
				<div class="img-container">
					<img src="./img/draw_easy_2.png" alt="">
				</div>
				
				<div class="button blue"><span class="explications_text" data-tag="easy_exo_explication_btn">explications</span><span class="close_text" data-tag="easy_exo_close_btn">fermer</span></div>
				<div class="separator"></div>
			</div>
			<div class="right">
				<div class="code">
					<pre id="pre-code"><code class="code-content"></code></pre>
				</div>
				<div class="explication">
					<div class="explication-container">
						<h2 class="exo_explication exo_explication1" data-tag="easy_exo_explication1_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication1" data-tag="easy_exo_explication1_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin
						</p>
						<h2 class="exo_explication exo_explication2" data-tag="easy_exo_explication2_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication2" data-tag="easy_exo_explication2_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin<br>
						</p>
						<h2 class="exo_explication exo_explication3" data-tag="easy_exo_explication3_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication3" data-tag="easy_exo_explication3_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin<br>
						</p>
						<h2 class="exo_explication exo_explication4" data-tag="easy_exo_explication4_title">
							Dans ce programme, on définit un cercle (P), puis une mosaïque (F) constituée de cercles P. <br>
							La mosaïque F est alors reproduite par la fonction MF qui permet de modifier sa taille ou de la tourner. <br>
							Enfin, la fonction MF est appelée par la fonction START qui va par exemple modifier la couleur du dessin.
						</h2>
						<p class="exo_explication exo_explication4" data-tag="easy_exo_explication4_content">
							Background: couleur de fond <br>
							startshape: dessine la forme "START"<br>
							saturation: saturation de la couleur<br>
							brightness: brillance de la couleur<br>
							hue: couleur (sur une roue de 0 à 360)<br>
							rotate: rotation<br>
							size: taille<br>
							rule : permet de définir une forme<br>
							CIRCLE: défini un cercle<br>
							tile: défini une tuile qui recouvre le dessin<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="easy_buttons">
			<div class="easy_btn button_2_lines beige easy_other" data-tag="easy_btn_other">essayer<br>un autre dessin</div>
			<div class="easy_btn button_2_lines beige go_to_hard" data-tag="easy_btn_finish">j'ai fini mon dessin<br>passer au mode difficile</div>
			<!-- <div class="easy_btn blue button_2_lines go_to_hard">passer<br>le mode facile</div> -->
		</div>
	</div>
	
	
	
</div>
</div>



