<div class="intro full hide">
	<div class="pattern"></div>
	<div class="intro-container">
		<h2 data-tag="intro_background">codez</h2>
		<h3 data-tag="intro_instructions">
			Cette machine dessine grâce à des programmes informatiques. <br>
			<u>Ces programmes sont constitués de code qui donnent des instructions que la machine appliquent.</u><br>
			En modifiant ce code, les instructions changent et le dessin se modifie.
		</h3>
		<div class="intro-buttons">
			<div class="button disable animate" data-tag="intro_btn_tuto">tutoriel</div>
			<div class="button disable animate" data-tag="intro_btn_easy">mode facile</div>
			<div class="button disable animate" data-tag="intro_btn_hard">mode difficile</div>
		</div>
	</div>
	
</div>